body{
    background-color: darkgrey;
}
h1 {
    color: white;
    text-align:center;
    font-weight: bold;
    font-size: 100px;
    text-decoration: underline;
}
img{
    width: 600px;
    height: 600px;
    overflow: hidden;
    background-size: cover;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    color: black;
}
h3{
    font-size: 40px;
}
