body{
    background-color: darkgrey;
}
h1 {
    color:black;
    text-align:center;
    font-weight: bold;
    font-size: 100px;
    text-decoration: underline;
    border-style: outset;
    border-color: gold;
}
img{
    width: 600px;
    height: 600px;
    overflow: hidden;
    background-size: cover;
    border-radius: 50%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    color: black;
}
h3{
    font-size: 40px;
}
.copyright{
    background-color: black;
    text-align: center;
    color: white;
}
h2{
    border-style:outset;
    border-color: gold;
}
